@import "reset";
@import "header";
@import "about_us";
@import "form";
@import "gargage";
@import "main";
@import "rental";
@import "footer";
@import "loading";
@import "layout";


.container{
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}