.rental {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #ffffff;
  font-family: "Kulim Park", sans-serif;
  font-weight: 400;
  font-style: normal;

  .container {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    z-index: 1;

    .slider {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      margin: 0 auto;
      @include desktop{
        justify-content: space-evenly;
        margin: 2rem 0;
      }
      img {
        cursor: pointer;
      }

      .slides {
        display: flex;
        justify-content: center;
        position: relative;
        width: 70%;
        @include desktop{
          width: auto;
        }
        .slide {

          border-radius: 50%;
          overflow: hidden;
          width: 60px;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #ffffff;
          color: #000000;
          opacity: 0.5;
          transition: opacity 0.3s;
          margin: 0 1rem;
          &.active {
            opacity: 1;
          }

          @include desktop {

            width: 100px;
            height: 100px;
            margin: 0 4rem;
          }

          img {
            width: 100%;
            height: auto;
            border-radius: 50%;
          }
        }
      }
    }

    .text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: #FD4040;

      h1 {
        margin: 1rem 0;
        font-family: "Karantina", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 64px;
      }

      .specification {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;

        .specification_item {
          display: flex;
          align-items: center;
          margin: 0.5rem;

          img {
            margin-right: 10px;
          }

          p {
            margin: 0;

            @include desktop {
              font-size: 20px;
            }
          }
        }
      }
    }

    .availability {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;

      h2 {
        margin-bottom: 20px;
      }

      .availability_slider {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        min-width: 200px;

        img {
          cursor: pointer;
          width: 50px;
          height: 50px;

          @include desktop{
            width: 30px;
            height: 30px;
          }
        }

        .availability_slide {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #ffffff;
          margin: 0 10px;

          p {
            font-size: 24px;

            @include desktop {
              font-size: 32px;
            }
          }
        }
      }

      form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;

        .input_container {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row-reverse;
          img{

          }
          input {
            background-color: #D9D9D9;
            text-align: center;
            color: rgba(64,64,64,0.4);
            width: 200px;
            height: 40px;
            margin: 0.5rem;
            padding: 5px;
            border-radius: 5px;
            border: none;
            outline: none;
          }
        }
      }
      .result {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        p {
          margin-bottom: 10px;
          font-size: 24px;

          @include desktop {
            font-size: 36px;
          }
        }

        .result_box {
          display: flex;
          align-items: center;
          justify-content: center;

          .result_box_amount {
            margin-left: 10px;
          }

          img {
            width: 30px;
            height: 30px;
          }
        }
      }

      a {
        text-decoration: underline;
        margin-top: 1rem;
      }
    }

    .car {
      margin-top: 2rem;
      width: 100%;
      max-width: 400px;
      @include desktop{
        max-width: 600px;
      }
    }
  }

  @include desktop {
    .slider .slides {
      max-width: 100%;
    }

    .slide {
      width: calc(100% / 5);
    }
  }
}
